@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
  background-color: #2A2A2A;
}

.song-name {
  color: #ecf0f1;
}

.time {
  color: lightgray;
}

.generate-box {
  background-color: #2e2e2e;
}

.progress-text {
  color: #ecf0f1;
}

.modal-body {
  background: #2a2a2a;
  color: #ecf0f1;
}

.modal-body p {
  color: #ecf0f1;
}

.message-modal-body p {
  color: #000;
}

.message-modal-body {
  background: #ecf0f1;
  color: #000;
}

.message-modal-footer {
  background: #ecf0f1;
}

.settings-box {
  background-color: #222222;
}

.language-dropdown {
  background-color: #3b3b3b;
  color: #ecf0f1;
}

.language-dropdown option {
  color: #ecf0f1;
}

.framerate-dropdown {
  background-color: #3b3b3b;
  color: #ecf0f1;
}

.framerate-dropdown option {
  color: #ecf0f1;
}

.subbutton {
  background-color: #3b3b3b;
  color: #ecf0f1;
}

.addbutton {
  background-color: #3b3b3b;
  color: #ecf0f1;
}

.length-number {
  background-color: #3b3b3b;
  color: #ecf0f1;
}